@media (max-width: 1368px) {
    #nav-bar .logo img {
        width: 141px;
    }

    #nav-bar .col-3 {
        flex: 0 0 auto;
        width: 20%;
    }

    #contenedor-buscador {
        width: 475px;
    }

    #buscador {
        width: 88.2%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }

    #nav-bar li a {
        width: 100px;
        font-size: 15px;
    }

    #categorias .card {
        background-color: var(--azul);
        height: 357px;
    }

}

@media (max-width: 1184px) {

    #nav-bar .col-3 {
        flex: 0 0 auto;
        width: 16%;
    }

    #nav-bar .logo img {
        width: 125px;
    }

    #contenedor-buscador {
        width: 384px;
    }

    #buscador {
        width: 85.2%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }

    #nav-bar li a {
        width: 93px;
        font-size: 14px;
    }

    #categorias .card {

        height: auto;
        align-items: center;

    }

    #categorias .card h3 {
        font-size: 19px;
        margin-top: 20px;
        font-size: 23px;
    }

    #categorias nav ul li {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #footer {
        height: auto;
    }

    #footer .col {
        flex-flow: column;
    }

    #footer ul.col {
        flex-flow: column;
        width: 100%;

    }

    .col-3 {
        flex: 0 0 auto;
        width: 100%;
    }

    #footer #redes {
        flex-flow: row;

    }

    .col-1 {
        flex: 0 0 auto;
        width: 21.333333%;
    }

}

@media (max-width: 934px) {
    
    .pt-3 {
        padding-top: 3rem !important;
    }

    #nav-bar {
        height: auto;
        min-height: 300px;
        flex-flow: column;
        justify-content: space-between;

    }

    #contenedor-buscador {
        width: 46%;
    }

    #nav-bar form {
        border: 1px solid var(--colorPrincipal);
        width: 100%;
        border-radius: 999px 999px 999px 999px;
    }

    #buscador {
        width: 85.4%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }

    #nav-bar ul li a {
        width: 100%;
    }

    #nav-bar ul {
        margin: 20px auto;
        flex-flow: column;
        justify-content: space-between;

    }

    #nav-bar ul li {
        width: 100%;
    }

    #nav-bar ul li a {
        margin: 14px;
        width: 100%;
    }

    #categorias ul {
        flex-flow: column;
    }

    #categorias ul img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .lista-categorias {
        display: flex;
        flex-flow: column;

    }

    #categorias .px-5 {
        padding-right: 4rem !important;
        padding-left: 3rem !important;
    }

    .lista-categorias .row {
        padding: 0;
    }

    .lista-categorias article {
        width: 100%;
        margin: 20px;
    }
    #nav-bar .col-3 {
        flex: 0 0 auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

}

@media (max-width: 932px) {
    #contenedor-buscador {
        display: flex;
        width: 100%;
    }

    #btn-buscar {
        color: var(--blanco);
        background-color: var(--colorPrincipal);
        border: none;
        border-radius: 0px 999px 999px 0px;
        width: 14%;
    }

    #contenedor-buscador {
        display: flex;
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 847px) {
    #buscador {
        width: 85.3%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }
}

@media (max-width: 744px) {
    #buscador {
        width: 84.3%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }

    #btn-buscar {
        color: var(--blanco);
        background-color: var(--colorPrincipal);
        border: none;
        border-radius: 0px 999px 999px 0px;
        width: 14.99%;
    }
}

@media (max-width: 744px) {
    #btn-buscar {
        color: var(--blanco);
        background-color: var(--colorPrincipal);
        border: none;
        border-radius: 0px 999px 999px 0px;
        width: 14.9%;
    }
}

@media (max-width: 665px) {
    #buscador {
        width: 83.9%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }

    #btn-buscar {
        color: var(--blanco);
        background-color: var(--colorPrincipal);
        border: none;
        border-radius: 0px 999px 999px 0px;
        width: 15.1%;
    }
}

@media (max-width: 556px) {
    #buscador {
        width: 81%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }

    #btn-buscar {
        color: var(--blanco);
        background-color: var(--colorPrincipal);
        border: none;
        border-radius: 0px 999px 999px 0px;
        width: 17.8%;
    }
}

@media (max-width: 484px) {
    #buscador {
        width: 70%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }

    #btn-buscar {
        color: var(--blanco);
        background-color: var(--colorPrincipal);
        border: none;
        border-radius: 0px 999px 999px 0px;
        width: 28.5%;
    }
}

@media (max-width: 408px) {
    #buscador {
        width: 61%;
        border: none;
        border-radius: 999px 0px 0px 999px;
    }
    #btn-buscar {
        color: var(--blanco);
        background-color: var(--colorPrincipal);
        border: none;
        border-radius: 0px 999px 999px 0px;
        width: 37.4%;
    }
}

@media (max-width: 400px) {
    #categorias .card h3 {
        margin-top: 20px;
        font-size: 15px;
    }

    #correo {

        font-size: 15px;
    }
}